### idiomatic Aproach

In [4]:
#looping over  arange of number
for i in [0,1,2,3,4,5]:
    print(i**2,end=' ')
    
print()
#pythonic aproach
for i in range(6):
    print(i**2,end=' ')

0 1 4 9 16 25
100 144 196

In [2]:
#looping over the collection (list)
li = [1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
#pythonic-way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [9]:
li =[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#pythonic aproach
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [11]:
#looping ove rtwo collections 
li = [1,2,3,4,5]
a = [1,2,3,4,5,6,7,8]
n= min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])
    
print()
#pythonic-way
for i,a in zip(li,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [13]:
#looping in sorted order
#pythonic-way
li=[8,6,9,4,0,5,7]
for i in sorted(li):
    print(i, end=" ")

print()
for i in sorted(li,reverse=True):
    print(i,end=" ")

0 4 5 6 7 8 9
9 8 7 6 5 4 0

In [17]:
#dictionary 
d = {'Name':'gitam','emailID':'gitam@gitam.edu','address':'vizag'}
for k in d:
    print(k,end=" ")
print()

Name emailID address

In [22]:
for k in d.keys():
    if k.startswith('a'):
        del d[k]
print(d)

{'Name': 'gitam', 'emailID': 'gitam@gitam.edu'}

In [23]:
print(d)

{'Name': 'gitam', 'emailID': 'gitam@gitam.edu'}

In [19]:
for k in d.values():
    print(k,end=' ')

gitam gitam@gitam.edu vizag

In [2]:
#Lambda function
def square(n):
    return n*n
square(10)

100

In [5]:
a = lambda x : x * x
print(a(10))

100

### Use of Lambda With filter

In [7]:
def filterList(li):
    a=[]
    for i in li:
        if i % 2 == 0:
            a.append(i)
    return a
li=[1,2,4,3,6,8,44,22]
filterList(li)

[2, 4, 6, 8, 44, 22]

In [10]:
li = [1,62,24,562,4,3,6,8,44,22]
lam_li = list(filter(lambda x : (x%2==0),li))
print(lam_li)

[62, 24, 562, 4, 6, 8, 44, 22]

### lambda with map
- map() function in lambda in python takest a function an list of arguement

In [12]:
#functional aproach
def squareList(li):
    a= []
    for i in li:
        a. append(i*2)
    return a
li = [1,2,3,4,5,6,7,8]
squareList(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [13]:
#lambda Aproach
li = [1,2,3,4,5,6,7,8]
map_list = list(map(lambda x: x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### lambda with reduce()

In [15]:
def sum_List(li):
    s = 0
    for i in li:
        s+=i
    return s
li=[1,2,3,4,5,6,7,8]
sum_List(li)

36

In [17]:
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s = reduce((lambda x,y:x+y),li)
print(s)

36

### standered Packages
#### Pandas

#### pandas

#### Use cases 

#### Notations 
- series - is single dimensional
- data frame - is two dimension

In [33]:
import pandas as pd
internal1= {'s1':355,'s2':315,'s3':325}
internal2= {'s1':305,'s2':335,'s3':345}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2)

s1    355
s2    315
s3    325
dtype: int64
s1    305
s2    335
s3    345
dtype: int64

In [27]:
final = {'internal1':internal1,'internal2':internal2}
final = pd.DataFrame(final)
print(final)

    internal1  internal2
s1        355        305
s2        315        335
s3        325        345

In [ ]:
final.values[1]

In [ ]:
final.values[2][0]

In [34]:
final.values

array([[355, 305],
       [315, 335],
       [350, 345]], dtype=int64)

array([35, 35], dtype=int64)

350

array([[355, 305],
       [315, 335],
       [350, 345]], dtype=int64)

In [35]:
for row in final.values:
    print('internal - ',row[0],'internal2 - ',row[1])

internal -  355 internal2 -  305
internal -  315 internal2 -  335
internal -  350 internal2 -  345

In [36]:
final.loc['s4'] = [20,18]
final

    internal1  internal2
s1        355        305
s2        315        335
s3        350        345
s4         20         18

In [37]:
final.values[2] = [158,255]
final

    internal1  internal2
s1        355        305
s2        315        335
s3        158        255
s4         20         18

In [38]:
pwd

'C:\\Users\\cse319\\Desktop\\python learning'

In [52]:
filePath= "Income.csv"
def readCsvData(filePath):
    return pd.read_csv(filePath)
df=readCsvData(filePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [58]:
for row in df.values:
    print(row[1], ':',row[-3])

Alabama : 42590
Alaska : 57431
Arizona : 48621
Arkansas : 41302
California : 53367

In [65]:
#average income of california
def avgofState():
    s = 0
    for i in range(2,11):
        s+=df.values[4][i]
    return s // len(df.values[2][2:])
avgofState()

55350

In [70]:
#functiob which displays the column name in tthe list
def printDataFrameColumn(df):
    li = []
    columns = df.columns
    for i in columns:
        li.append(i)
    return li
printDataFrameColumn(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [72]:
df = pd.read_csv("C:/Users/cse319/Desktop/python learning/data files/RegularSeasonCompactResults.csv")

In [73]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [75]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [76]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [78]:
#convert all column names into list
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [80]:
#describe min max,count,mean and etc
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [81]:
df['Lteam'].max()

1464

In [82]:
df['Lteam'].min()

1101

In [84]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

In [85]:
df.sort_values('Lscore').tail()

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
77873    2003     110   1383     142   1254     140    H      2
24970    1991      68   1258     186   1109     140    H      0
22074    1990      96   1261     148   1258     141    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0

In [86]:
list(map((lambda x:x**2), filter((lambda x:x%2==0), range(10))))# What will be the output of the given code?

[0, 4, 16, 36, 64]

In [87]:
([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [88]:
 k = [print(i) for i in my_string if i not in "aeiou"]

NameError: name 'my_string' is not defined